In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import os
print(os.getcwd())

C:\Users\baska

In [3]:
df=pd.read_csv('adult.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age                    32561 non-null int64
workclass              32561 non-null object
fnlwgt                 32561 non-null int64
education              32561 non-null object
education-num          32561 non-null int64
marital-status         32561 non-null object
occupation             32561 non-null object
forces relationship    32561 non-null object
race                   32561 non-null object
sex                    32561 non-null object
capital-gain           32561 non-null int64
capital-loss           32561 non-null int64
hours-per-week         32561 non-null int64
native-country         32561 non-null object
income                 32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df.describe()

,Age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.head()

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,forces relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
df.isnull().values.any()

False

In [7]:
df.income.unique()

array([' <=50K', ' >50K'], dtype=object)

In [8]:
categorical_columns = [c for c in df.columns
                      if df[c].dtype.name == 'object']
numerical_columns = [c for c in df.columns
                    if df[c].dtype.name != 'object']
print('categorical_columns:',categorical_columns)
print('numerical_columns:',numerical_columns)

categorical_columns: ['workclass', 'education', 'marital-status', 'occupation', 'forces relationship', 'race', 'sex', 'native-country', 'income']
numerical_columns: ['Age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

In [9]:
for c in categorical_columns:
    df[c].fillna(df[c].mode(),inplace=True)

for c in numerical_columns:
    df[c].fillna(df[c].median(),inplace=True)

In [10]:
df["income"]=df["income"].map({" <=50K":-1," >50K":1 })

In [11]:
print(df.head())

   Age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13
2   38            Private  215646     HS-grad              9
3   53            Private  234721        11th              7
4   28            Private  338409   Bachelors             13

        marital-status          occupation forces relationship    race  \
0        Never-married        Adm-clerical       Not-in-family   White
1   Married-civ-spouse     Exec-managerial             Husband   White
2             Divorced   Handlers-cleaners       Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners             Husband   Black
4   Married-civ-spouse      Prof-specialty                Wife   Black

       sex  capital-gain  capital-loss  hours-per-week  native-country  income
0     Male          2174             0              40   United-States      -1
1     Male             0             0              13   United-States      -1
2     Male             0             0              40   United-States      -1
3     Male             0             0              40   United-States      -1
4   Female             0             0              40            Cuba      -1

In [12]:
df.drop("capital-gain",axis=1,inplace=True)
df.drop("capital-loss",axis=1,inplace=True)

In [13]:
df.Age=df.Age.astype(float)
df.fnlwgt=df.fnlwgt.astype(float)

In [14]:
df.rename(columns={'education-num':'educationnum','hours-per-week':'hoursperweek','marital-status':'maritalstatus','native-country':'nativecountry','forces relationship' : 'forcesrelationship'},inplace=True)

In [15]:
df.educationnum=df.educationnum.astype(float)
df.hoursperweek=df.hoursperweek.astype(float)
print(df)

        Age          workclass    fnlwgt      education  educationnum  \
0      39.0          State-gov   77516.0      Bachelors          13.0
1      50.0   Self-emp-not-inc   83311.0      Bachelors          13.0
2      38.0            Private  215646.0        HS-grad           9.0
3      53.0            Private  234721.0           11th           7.0
4      28.0            Private  338409.0      Bachelors          13.0
5      37.0            Private  284582.0        Masters          14.0
6      49.0            Private  160187.0            9th           5.0
7      52.0   Self-emp-not-inc  209642.0        HS-grad           9.0
8      31.0            Private   45781.0        Masters          14.0
9      42.0            Private  159449.0      Bachelors          13.0
10     37.0            Private  280464.0   Some-college          10.0
11     30.0          State-gov  141297.0      Bachelors          13.0
12     23.0            Private  122272.0      Bachelors          13.0
13     32.0            Private  205019.0     Assoc-acdm          12.0
14     40.0            Private  121772.0      Assoc-voc          11.0
15     34.0            Private  245487.0        7th-8th           4.0
16     25.0   Self-emp-not-inc  176756.0        HS-grad           9.0
17     32.0            Private  186824.0        HS-grad           9.0
18     38.0            Private   28887.0           11th           7.0
19     43.0   Self-emp-not-inc  292175.0        Masters          14.0
20     40.0            Private  193524.0      Doctorate          16.0
21     54.0            Private  302146.0        HS-grad           9.0
22     35.0        Federal-gov   76845.0            9th           5.0
23     43.0            Private  117037.0           11th           7.0
24     59.0            Private  109015.0        HS-grad           9.0
25     56.0          Local-gov  216851.0      Bachelors          13.0
26     19.0            Private  168294.0        HS-grad           9.0
27     54.0                  ?  180211.0   Some-college          10.0
28     39.0            Private  367260.0        HS-grad           9.0
29     49.0            Private  193366.0        HS-grad           9.0
...     ...                ...       ...            ...           ...
32531  30.0                  ?   33811.0      Bachelors          13.0
32532  34.0            Private  204461.0      Doctorate          16.0
32533  54.0            Private  337992.0      Bachelors          13.0
32534  37.0            Private  179137.0   Some-college          10.0
32535  22.0            Private  325033.0           12th           8.0
32536  34.0            Private  160216.0      Bachelors          13.0
32537  30.0            Private  345898.0        HS-grad           9.0
32538  38.0            Private  139180.0      Bachelors          13.0
32539  71.0                  ?  287372.0      Doctorate          16.0
32540  45.0          State-gov  252208.0        HS-grad           9.0
32541  41.0                  ?  202822.0        HS-grad           9.0
32542  72.0                  ?  129912.0        HS-grad           9.0
32543  45.0          Local-gov  119199.0     Assoc-acdm          12.0
32544  31.0            Private  199655.0        Masters          14.0
32545  39.0          Local-gov  111499.0     Assoc-acdm          12.0
32546  37.0            Private  198216.0     Assoc-acdm          12.0
32547  43.0            Private  260761.0        HS-grad           9.0
32548  65.0   Self-emp-not-inc   99359.0    Prof-school          15.0
32549  43.0          State-gov  255835.0   Some-college          10.0
32550  43.0   Self-emp-not-inc   27242.0   Some-college          10.0
32551  32.0            Private   34066.0           10th           6.0
32552  43.0            Private   84661.0      Assoc-voc          11.0
32553  32.0            Private  116138.0        Masters          14.0
32554  53.0            Private  321865.0        Masters          14.0
32555  22.0            Private  310152.0   Some-college          10.0
32556  27.0            Private  257302.0     Assoc-acdm          12.0
32557  40.0            Private  154374.0        HS-grad           9.0
32558  58.0            Private  151910.0        HS-grad           9.0
32559  22.0            Private  201490.0        HS-grad           9.0
32560  52.0       Self-emp-inc  287927.0        HS-grad           9.0

                maritalstatus          occupation forcesrelationship  \
0               Never-married        Adm-clerical      Not-in-family
1          Married-civ-spouse     Exec-managerial            Husband
2                    Divorced   Handlers-cleaners      Not-in-family
3          Married-civ-spouse   Handlers-cleaners            Husband
4          Married-civ-spouse      Prof-specialty               Wife
5          Married-civ-spouse     Exec-managerial               Wife
6       Married-spouse-absent       Other-service      Not-in-family
7          Married-civ-spouse     Exec-managerial            Husband
8               Never-married      Prof-specialty      Not-in-family
9          Married-civ-spouse     Exec-managerial            Husband
10         Married-civ-spouse     Exec-managerial            Husband
11         Married-civ-spouse      Prof-specialty            Husband
12              Never-married        Adm-clerical          Own-child
13              Never-married               Sales      Not-in-family
14         Married-civ-spouse        Craft-repair            Husband
15         Married-civ-spouse    Transport-moving            Husband
16              Never-married     Farming-fishing          Own-child
17              Never-married   Machine-op-inspct          Unmarried
18         Married-civ-spouse               Sales            Husband
19                   Divorced     Exec-managerial          Unmarried
20         Married-civ-spouse      Prof-specialty            Husband
21                  Separated       Other-service          Unmarried
22         Married-civ-spouse     Farming-fishing            Husband
23         Married-civ-spouse    Transport-moving            Husband
24                   Divorced        Tech-support          Unmarried
25         Married-civ-spouse        Tech-support            Husband
26              Never-married        Craft-repair          Own-child
27         Married-civ-spouse                   ?            Husband
28                   Divorced     Exec-managerial      Not-in-family
29         Married-civ-spouse        Craft-repair            Husband
...                       ...                 ...                ...
32531           Never-married                   ?      Not-in-family
32532      Married-civ-spouse      Prof-specialty            Husband
32533      Married-civ-spouse     Exec-managerial            Husband
32534                Divorced        Adm-clerical          Unmarried
32535           Never-married     Protective-serv          Own-child
32536           Never-married     Exec-managerial      Not-in-family
32537           Never-married        Craft-repair      Not-in-family
32538                Divorced      Prof-specialty          Unmarried
32539      Married-civ-spouse                   ?            Husband
32540               Separated        Adm-clerical          Own-child
32541               Separated                   ?      Not-in-family
32542      Married-civ-spouse                   ?            Husband
32543                Divorced      Prof-specialty          Unmarried
32544                Divorced       Other-service      Not-in-family
32545      Married-civ-spouse        Adm-clerical               Wife
32546                Divorced        Tech-support      Not-in-family
32547      Married-civ-spouse   Machine-op-inspct            Husband
32548           Never-married      Prof-specialty      Not-in-family
32549                Divorced        Adm-clerical     Other-relative
32550      Married-civ-spouse        Craft-repair            Husband
32551      Married-civ-spouse   Handlers-cleaners            Husband
32552      Married-civ-spouse               Sales            Husband
32553           Never-married        Tech-support      Not-in-family
32554      Married-civ-spouse     Exec-managerial            Husband
32555           Never-married     Protective-serv      Not-in-family
32556      Married-civ-spouse        Tech-support               Wife
32557      Married-civ-spouse   Machine-op-inspct            Husband
32558                 Widowed        Adm-clerical          Unmarried
32559           Never-married        Adm-clerical          Own-child
32560      Married-civ-spouse     Exec-managerial               Wife

                      race      sex  hoursperweek   nativecountry  income
0                    White     Male          40.0   United-States      -1
1                    White     Male          13.0   United-States      -1
2                    White     Male          40.0   United-States      -1
3                    Black     Male          40.0   United-States      -1
4                    Black   Female          40.0            Cuba      -1
5                    White   Female          40.0   United-States      -1
6                    Black   Female          16.0         Jamaica      -1
7                    White     Male          45.0   United-States       1
8                    White   Female          50.0   United-States       1
9                    White     Male          40.0   United-States       1
10                   Black     Male          80.0   United-States       1
11      Asian-Pac-Islander     Male          40.0           India       1
12                   White   Female          30.0   United-States      -1
13                   Black     Male          50.0   United-States      -1
14      Asian-Pac-Islander     Male          40.0               ?       1
15      Amer-Indian-Eskimo     Male          45.0          Mexico      -1
16                   White     Male          35.0   United-States      -1
17                   White     Male          40.0   United-States      -1
18                   White     Male          50.0   United-States      -1
19                   White   Female          45.0   United-States       1
20                   White     Male          60.0   United-States       1
21                   Black   Female          20.0   United-States      -1
22                   Black     Male          40.0   United-States      -1
23                   White     Male          40.0   United-States      -1
24                   White   Female          40.0   United-States      -1
25                   White     Male          40.0   United-States       1
26                   White     Male          40.0   United-States      -1
27      Asian-Pac-Islander     Male          60.0           South       1
28                   White     Male          80.0   United-States      -1
29                   White     Male          40.0   United-States      -1
...                    ...      ...           ...             ...     ...
32531   Asian-Pac-Islander   Female          99.0   United-States      -1
32532                White     Male          60.0   United-States       1
32533   Asian-Pac-Islander     Male          50.0           Japan       1
32534                White   Female          39.0   United-States      -1
32535                Black     Male          35.0   United-States      -1
32536                White   Female          55.0   United-States       1
32537                Black     Male          46.0   United-States      -1
32538                Black   Female          45.0   United-States       1
32539                White     Male          10.0   United-States       1
32540                White   Female          40.0   United-States      -1
32541                Black   Female          32.0   United-States      -1
32542                White     Male          25.0   United-States      -1
32543                White   Female          48.0   United-States      -1
32544                Other   Female          30.0   United-States      -1
32545                White   Female          20.0   United-States       1
32546                White   Female          40.0   United-States      -1
32547                White     Male          40.0          Mexico      -1
32548                White     Male          60.0   United-States      -1
32549                White   Female          40.0   United-States      -1
32550                White     Male          50.0   United-States      -1
32551   Amer-Indian-Eskimo     Male          40.0   United-States      -1
32552                White     Male          45.0   United-States      -1
32553   Asian-Pac-Islander     Male          11.0          Taiwan      -1
32554                White     Male          40.0   United-States       1
32555                White     Male          40.0   United-States      -1
32556                White   Female          38.0   United-States      -1
32557                White     Male          40.0   United-States       1
32558                White   Female          40.0   United-States      -1
32559                White     Male          20.0   United-States      -1
32560                White   Female          40.0   United-States       1

[32561 rows x 13 columns]

In [16]:
print(df.head())

    Age          workclass    fnlwgt   education  educationnum  \
0  39.0          State-gov   77516.0   Bachelors          13.0
1  50.0   Self-emp-not-inc   83311.0   Bachelors          13.0
2  38.0            Private  215646.0     HS-grad           9.0
3  53.0            Private  234721.0        11th           7.0
4  28.0            Private  338409.0   Bachelors          13.0

         maritalstatus          occupation forcesrelationship    race  \
0        Never-married        Adm-clerical      Not-in-family   White
1   Married-civ-spouse     Exec-managerial            Husband   White
2             Divorced   Handlers-cleaners      Not-in-family   White
3   Married-civ-spouse   Handlers-cleaners            Husband   Black
4   Married-civ-spouse      Prof-specialty               Wife   Black

       sex  hoursperweek   nativecountry  income
0     Male          40.0   United-States      -1
1     Male          13.0   United-States      -1
2     Male          40.0   United-States      -1
3     Male          40.0   United-States      -1
4   Female          40.0            Cuba      -1

In [17]:
df=pd.get_dummies(df,columns=["race","sex","nativecountry","workclass","education","maritalstatus","occupation","forcesrelationship"])
df.head()

,Age,fnlwgt,educationnum,hoursperweek,income,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,...,occupation_ Protective-serv,occupation_ Sales,occupation_ Tech-support,occupation_ Transport-moving,forcesrelationship_ Husband,forcesrelationship_ Not-in-family,forcesrelationship_ Other-relative,forcesrelationship_ Own-child,forcesrelationship_ Unmarried,forcesrelationship_ Wife
0,39.0,77516.0,13.0,40.0,-1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,50.0,83311.0,13.0,13.0,-1,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,38.0,215646.0,9.0,40.0,-1,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,53.0,234721.0,7.0,40.0,-1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,28.0,338409.0,13.0,40.0,-1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [18]:
y=df["income"].values

In [19]:
df.drop("income",axis=1,inplace=True)

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df,y,test_size=0.25)

In [21]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier(criterion='gini',max_depth=None)
dtree.fit(X_train,y_train)
predictions=dtree.predict(X_test)

In [22]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,predictions))
cm=confusion_matrix(y_test,predictions)

             precision    recall  f1-score   support

         -1       0.85      0.86      0.85      6137
          1       0.55      0.54      0.55      2004

avg / total       0.78      0.78      0.78      8141

In [23]:
print(cm)

[[5256  881]
 [ 923 1081]]

In [24]:
print("Accuracy of prediction:",round((cm[0,0]+cm[1,1])/cm.sum(),3))

Accuracy of prediction: 0.778

In [26]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=600)
rfc.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=600, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [29]:
rfc_pred = rfc.predict(X_test)

In [30]:
cr = classification_report(y_test,predictions)

In [31]:
print(cr)

             precision    recall  f1-score   support

         -1       0.85      0.86      0.85      6137
          1       0.55      0.54      0.55      2004

avg / total       0.78      0.78      0.78      8141

In [32]:
cm_rfc=confusion_matrix(y_test,rfc_pred)
print(cm_rfc)

[[5581  556]
 [ 868 1136]]

In [33]:
print("Accuracy of prediction:",round((cm_rfc[0,0]+cm_rfc[1,1])/cm_rfc.sum(),3))

Accuracy of prediction: 0.825